---
layout: default
title: Resume
---
<div class="px-4 pt-16 pb-8 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:pt-20 lg:pb-16">
    <div class="max-w-xl sm:mx-auto lg:max-w-2xl">
      <div class="max-w-xl mb-10 md:mx-auto sm:text-center lg:max-w-2xl md:mb-16">
        <div>
          <p class="inline-block px-3 py-px mb-4 text-xs font-semibold tracking-wider text-primary uppercase rounded-full bg-teal-accent-400">
            {{page.title}}
          </p>
        </div>
        <h2 class="max-w-lg mb-6 font-sans text-3xl font-bold leading-none tracking-tight text-base-content sm:text-4xl md:mx-auto">
          <span class="relative inline-block">
            <svg viewBox="0 0 52 24" fill="currentColor" class="absolute top-0 left-0 z-0 hidden w-32 -mt-8 -ml-20 text-blue-gray-100 lg:w-32 lg:-ml-28 lg:-mt-10 sm:block">
              <defs>
                <pattern id="70326c9b-4a0f-429b-9c76-792941e326d5" x="0" y="0" width=".135" height=".30">
                  <circle cx="1" cy="1" r=".7"></circle>
                </pattern>
              </defs>
              <rect fill="url(#70326c9b-4a0f-429b-9c76-792941e326d5)" width="52" height="24"></rect>
            </svg>
            <span class="relative lg:ml-1.5">Major</span>
          </span>
          Work Experience <br> And Education
        </h2>
        <p class="text-base text-base-content md:text-lg">
            Now I am web programmer where I work on various programming languages ​​such as <code class="link link-accent">PHP</code>, <code class="link link-accent">JavaScript</code>, <code class="link link-accent">Jquery</code>, <code class="link link-accent">Vue.js</code> and <code class="link link-accent">Flutter</code>. 
        </p>
      </div>
    </div>
    <div class="max-w-screen-xl sm:mx-auto">
      <div class="grid grid-cols-1 gap-16 row-gap-8 lg:grid-cols-2">
        <div class="lg:pr-16">
            <p class="text-2xl mb-4 font-bold">Experience</p>
              {% for experience in site.data.experiences %}
              <div class="flex">
                <div class="flex flex-col items-center mr-4">
                  <div>
                    <div class="flex items-center justify-center w-10 h-10 border rounded-full">
                        <svg class="w-4 stroke-current text-base-content" width="24" height="24" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M24.0083 12.1005V36" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/><path d="M12 24L24 12L36 24" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/></svg>
                    </div>
                  </div>
                  {% if forloop.last == false %}
                  <div class="w-px h-full bg-gray-300"></div>
                  {% endif %}
                </div>
                <div class="pt-1 pb-8">
                  <p class="mb-1 text-md font-bold">{{ experience.position }} - {{ experience.company }}</p>
                  <p class="badge badge-sm badge-info rounded mb-2">{{ experience.start_date }} - {{ experience.end_date }}</p>
                  <span class="text-base-content text-xs">
                    {% for duty in experience.duties %}
                    <p> {{ duty }} </p>
                    {% endfor %}
                  </span>
                </div>
              </div>
              {% endfor %}
        </div>
        <div class="relative">
             <div class="grid grid-cols-2 gap-5">
            <img class="object-cover object-top w-full h-84 col-span-2 rounded shadow-lg" src="/assets/images/IMG_6051.jpg" alt="" />
            <img class="object-cover w-full h-56 rounded shadow-lg" src="/assets/images/IMG_5973.jpg" alt="" />
            <img class="object-cover w-full h-56 rounded shadow-lg" src="/assets/images/IMG_6049.jpg" alt="" />
          </div>
          </div>

       </div>
    </div>
  </div>

  <div class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20">
    <div class="flex flex-col mb-6 lg:flex-row md:mb-10">
        <div class="lg:w-1/2">
          <h2 class="max-w-md mb-6 font-sans text-3xl font-bold tracking-tight text-base-content sm:text-4xl sm:leading-none xl:max-w-lg">
            Education & Qualifications
          </h2>
        </div>
        <div class="lg:w-1/2">
          <p class="text-sm text-base-content md:text-base">
            I pursued my Bachelors in Multimedia Computing from Coventry University. As part of my curriculum, I particularly found the subjects of Programming and Deep learning highly intriguing, as these articles created in me a passion to study the computer related courses in much more detail. 
          </p>
        </div>
      </div>
    <div class="grid gap-6 md:grid-cols-2 lg:grid-cols-6">
        <div class="relative md:col-span-2 lg:col-span-2">
            <img
              class="inset-0 object-cover object-center w-full h-56 rounded shadow-lg lg:absolute lg:h-full"
              src="/assets/images/IMG_3770.JPG"
              alt=""
            />
          </div>
        <div class="grid gap-6 md:grid-cols-2 md:col-span-2 lg:col-span-4">

        {% for certificate in site.data.certificates %}
        <div class="rounded lg:bg-base-300 lg:p-5 lg:transition lg:duration-300 lg:hover:bg-indigo-100">
          <div class="flex items-center mb-1">
            <span class="badge badge-sm badge-error text-xs base-content-medium ">{{ certificate.year }}</span>
          </div>
          <p class="text-lg font-semibold sm:text-base">{{ certificate.organization }}</p>
          <p class="text-sm text-base-content">
            {{ certificate.name }}
          </p>
        </div>
        {% endfor %}
      </div>
      
    </div>
  </div>