<div class="relative mt-16 bg-secondary">
  <svg class="absolute top-0 w-full h-6 -mt-5 sm:-mt-10 sm:h-16 text-secondary" preserveAspectRatio="none" viewBox="0 0 1440 54">
    <path fill="currentColor" d="M0 22L120 16.7C240 11 480 1.00001 720 0.700012C960 1.00001 1200 11 1320 16.7L1440 22V54H1320C1200 54 960 54 720 54C480 54 240 54 120 54H0V22Z"></path>
  </svg>

  <div class="px-4 pt-12 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8">
      <div class="grid gap-10 row-gap-6 mb-8 sm:grid-cols-2 lg:grid-cols-4">
    <div class="sm:col-span-2">
      <a href="/" aria-label="Go home" title="Company" class="hidden md:inline-flex text-neutral items-center">
        <svg class="w-10 stroke-current text-neutral" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M39 4H11C9.89543 4 9 4.89543 9 6V42C9 43.1046 9.89543 44 11 44H39C40.1046 44 41 43.1046 41 42V6C41 4.89543 40.1046 4 39 4Z" fills="#4B6BFB"  stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/><path d="M17 30L31 30" stroke="#333" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/><path d="M17 36H24"  stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/><rect x="17" y="12" width="14" height="10" fill="#4B6BFB"  stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/></svg>
        <!-- <svg class="w-10 stroke-current text-neutral" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M39 4H11C9.89543 4 9 4.89543 9 6V42C9 43.1046 9.89543 44 11 44H39C40.1046 44 41 43.1046 41 42V6C41 4.89543 40.1046 4 39 4Z" fill="none" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/><path d="M17 30L31 30" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/><path d="M17 36H24" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/><rect x="17" y="12" width="14" height="10" fill="none" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/></svg> -->
        <span class="ml-2 text-xl font-black tracking-wide text-neutral uppercase">{{site.title}}</span>
      </a>
      <div class="hidden md:block mt-6 lg:max-w-sm">
        <p class="text-sm text-neutral">
        {{site.introduction }}
        </p>
      </div>
    </div>
    <div class="space-y-2 text-xs">
      <p class="text-base font-black tracking-wide text-neutral">Contacts</p>
      <div class="flex">
        <p class="mr-1 text-neutral">Phone:</p>
        <a href="tel:850-123-5021" aria-label="Our phone" title="Our phone" class="font-mono duration-300 text-pink-800 underline">{{site.phone}}</a>
      </div>
      <div class="flex">
        <p class="mr-1 text-neutral">Email:</p>
        <a href="mailto:info@lorem.mail" aria-label="Our email" title="Our email" class="font-mono duration-300 text-pink-800 underline">{{site.email}}</a>
      </div>
      <div class="flex">
        <p class="mr-1 text-neutral">Location:</p>
        <a href="https://www.google.com/maps" target="_blank" rel="noopener noreferrer" aria-label="Our address" title="Our address" class="duration-300 text-pink-800 underline">
          {{site.address}}, {{site.residence}}
        </a>
      </div>
      <!-- <div class="flex">
        <p class="mr-1 text-neutral">Citizenship:</p>
        <a href="https://www.google.com/maps" target="_blank" rel="noopener noreferrer" aria-label="Citizenship" title="Citizenship" class="font-mono duration-300 text-success">
          {{site.citizenship}}
        </a>
      </div>
      <div class="flex">
        <p class="mr-1 text-neutral">Residence:</p>
        <a href="https://www.google.com/maps" target="_blank" rel="noopener noreferrer" aria-label="Residence" title="Residence" class="font-mono duration-300 text-success">
          {{site.residence}}
        </a>
      </div> -->
    </div>
    <div>
      <span class="text-base font-black tracking-wide text-neutral">Social</span>
      <div class="flex items-center mt-1 space-x-3">
            <a target="_blank" href="https://github.com/{{site.github_username}}">
                <svg class="h-5 text-neutral stroke-current" viewBox="0 0 48 48" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M29.3444 30.4767C31.7481 29.9771 33.9292 29.1109 35.6247 27.8393C38.5202 25.6677 40 22.3137 40 19C40 16.6754 39.1187 14.5051 37.5929 12.6669C36.7427 11.6426 39.2295 4.00001 37.02 5.02931C34.8105 6.05861 31.5708 8.33691 29.8726 7.8341C28.0545 7.29577 26.0733 7.00001 24 7.00001C22.1992 7.00001 20.4679 7.22313 18.8526 7.63452C16.5046 8.23249 14.2591 6.00001 12 5.02931C9.74086 4.05861 10.9736 11.9633 10.3026 12.7946C8.84119 14.6052 8 16.7289 8 19C8 22.3137 9.79086 25.6677 12.6863 27.8393C14.6151 29.2858 17.034 30.2077 19.7401 30.6621"
                         stroke-width="4" stroke-linecap="round" />
                    <path
                        d="M19.7402 30.662C18.5817 31.9372 18.0024 33.148 18.0024 34.2946C18.0024 35.4411 18.0024 38.3465 18.0024 43.0108"
                         stroke-width="4" stroke-linecap="round" />
                    <path
                        d="M29.3443 30.4767C30.4421 31.9175 30.991 33.2112 30.991 34.3577C30.991 35.5043 30.991 38.3886 30.991 43.0108"
                         stroke-width="4" stroke-linecap="round" />
                    <path
                        d="M6 31.2156C6.89887 31.3255 7.56554 31.7388 8 32.4555C8.65169 33.5304 11.0742 37.5181 13.8251 37.5181C15.6591 37.5181 17.0515 37.5181 18.0024 37.5181"
                         stroke-width="4" stroke-linecap="round" /></svg>
            </a>
            {% comment %} <a target="_blank" href="https://gitlab.com/{{site.github_username}}">
                <svg class="h-5 text-neutral stroke-current" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M23.9627 42L42 27.4152L36.9957 6L30.9661 18.9935H17.9932L11.0151 6L6 27.4152L23.9627 42Z" fill="none" stroke-width="4" stroke-linejoin="round"/></svg>
            </a> {% endcomment %}
            <a target="_blank" href="https://www.linkedin.com/in/{{site.linkedin_username}}/">
                <svg class="h-5 text-neutral stroke-current" viewBox="0 0 48 48" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <circle cx="9" cy="8.00012" r="4" fill="none"  stroke-width="4" />
                    <rect x="5" y="18.0001" width="8" height="25" fill="none"  stroke-width="4"
                        stroke-linejoin="round" />
                    <path
                        d="M21 27.5V43H28V29C28 26.5 29.5 24.5 32 24.5C34.5 24.5 36 27 36 29V43H43V27.5C43 24.5 39.5 18 32 18C24.5 18 21 24.5 21 27.5Z"
                        fill="none"  stroke-width="4" stroke-linejoin="round" /></svg> </a>
            <a target="_blank" href="https://twitter.com/{{site.twitter_username}}">
                <svg class="h-5 text-neutral stroke-current" viewBox="0 0 48 48" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M5 35.7622C6.92886 36.8286 20.8914 44.8773 30.8199 38.674C40.7483 32.4707 40.2006 21.7833 40.2006 16.886C41.1 15.0018 43 14.0439 43 8.9438C41.1337 10.6678 39.2787 11.2544 37.435 10.7036C35.6287 7.94957 33.1435 6.73147 29.9794 7.04934C25.2333 7.52614 23.4969 12.1825 24.0079 18.2067C16.6899 21.9074 10.9515 15.524 7.99418 10.7036C7.00607 14.4999 6.0533 19.0576 7.99418 24.0995C9.2881 27.4607 12.3985 30.3024 17.3254 32.6246C12.3323 35.3308 8.22382 36.3766 5 35.7622Z"
                        fill="none"  stroke-width="4" stroke-linejoin="round" /></svg>
            </a>
      </div>
      <p class="hidden mt-4 text-sm text-neutral">
        Bacon ipsum dolor amet short ribs pig sausage prosciutto chicken spare ribs salami.
      </p>
    </div>
  </div>
  <div class="flex flex-col-reverse justify-between pt-5 pb-6 border-t border-neutral lg:flex-row">
    <p class="text-sm text-neutral">
        © Copyright {{ 'now' | date: "%Y" }} - All right reserved by {{site.email}}
    </p>
    <ul class="hidden md:flex flex-col mb-3 space-y-2 lg:mb-0 sm:space-y-0 sm:space-x-5 sm:flex-row">
      {% for item in site.data.navigation %}
      <li><a href="{{ item.link }}"  {{ item.type }} aria-label="{{ item.name }}" title="{{ item.name }}" class="text-sm text-neutral transition-colors duration-300 link link-hover">{{ item.name }}</a></li>
      {% endfor %}
    </ul>
  </div>
  </div>
</div>