<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ page.title }}</title>
<!-- <link rel="stylesheet" href="/assets/css/main.css"> -->
<!-- <link href="/assets/css/tailwind.min.css" rel="stylesheet" type="text/css" /> -->
<script src="https://cdn.tailwindcss.com"></script>

<link href="/assets/css/daisyui.css" rel="stylesheet" type="text/css" />
<link rel="apple-touch-icon" sizes="60x60" href="/assets/images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png">
<link rel="manifest" href="/assets/images/site.webmanifest">
<link rel="mask-icon" href="/assets/images/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#2d89ef">
<meta name="theme-color" content="#ffffff">


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet"> 
<link href="https://fonts.cdnfonts.com/css/segoe-ui-4" rel="stylesheet">
<style>
    html,body{
        font-family: "SegoeUI", sans-serif!important;
        font-weight: 500!important;
    }
</style>

<script>
    var styles = ['background: #ddd',                  
                  'color: red',
                  'font-size:40px',
                  'display: block',
                  'text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3)',
                  'line-height: 100px',
                  'text-align: center',
                  'font-weight: bold'].join(';');
    console.log('%c HEY!! ', styles);
</script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-VH9PNKZCQG"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'G-VH9PNKZCQG');
</script>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NZ2MTG5');</script>
<!-- End Google Tag Manager -->

{% seo %}