<!doctype html>
<html data-theme="{{site.daisyui_theme}}" lang="en">

<head>
    {% include head.html %}
</head>

<body class="bg-white text-base-content">

    <div class="mx-auto">
        <nav class="w-full">
            {% include navigation.html %}
        </nav>
        <main >
            {{ content }}
        </main>

    </div>

    <footer class="pt-8 lg:pt-20">
        {% include footer.html %}
    </footer>

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NZ2MTG5"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <!-- Channel Plugin Scripts -->
    <script>
        (function() {
        var w = window;
        if (w.ChannelIO) {
            return (window.console.error || window.console.log || function(){})('ChannelIO script included twice.');
        }
        var ch = function() {
            ch.c(arguments);
        };
        ch.q = [];
        ch.c = function(args) {
            ch.q.push(args);
        };
        w.ChannelIO = ch;
        function l() {
            if (w.ChannelIOInitialized) {
            return;
            }
            w.ChannelIOInitialized = true;
            var s = document.createElement('script');
            s.type = 'text/javascript';
            s.async = true;
            s.src = 'https://cdn.channel.io/plugin/ch-plugin-web.js';
            s.charset = 'UTF-8';
            var x = document.getElementsByTagName('script')[0];
            x.parentNode.insertBefore(s, x);
        }
        if (document.readyState === 'complete') {
            l();
        } else if (window.attachEvent) {
            window.attachEvent('onload', l);
        } else {
            window.addEventListener('DOMContentLoaded', l, false);
            window.addEventListener('load', l, false);
        }
        })();
        ChannelIO('boot', {
        "pluginKey": "30c3df87-d9eb-455f-a215-829e7b73f7d0"
        });
    </script>
    <!-- End Channel Plugin -->
</body>

</html>