<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/main.css">
    <link href="/assets/css/daisyui.css" rel="stylesheet" type="text/css" />

</head>

<body data-theme="corporate" class="bg-base-100 text-base-content">

    <div class="container mx-auto">
        <nav class="w-full pt-4">
            {% include navigation.html %}
        </nav>
        <main >
            {{ content }}
        </main>

    </div>

    <footer class="pt-8 lg:pt-20">
        {% include footer.html %}
    </footer>

</body>

</html>