<!doctype html>
<html data-theme="{{site.daisyui_theme}}" lang="en">

<head>
    {% include head.html %}
</head>

<body class="bg-base-100 text-base-content font-sans">

    <div class="container mx-auto">
        <nav class="w-full">
            {% include navigation.html %}
        </nav>

        <main class="lg:pt-20">

            <section class="px-4 pt-5 pb-8 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:pt-10 lg:pb-16">
            <div class="text-sm breadcrumbs pt-10 md:pt-0 hidden lg:block">
                <ul>
                {% assign crumbs = page.url | remove:'/index.html' | split: '/' %}
                <li>
                <a href="/">Home</a>
                </li>
                {% for crumb in crumbs offset: 1 %}
                {% if forloop.last %}
                    <li> {{ page.title }} </li>
                {% else %}
                    <li>
                    <a href="{% assign crumb_limit = forloop.index | plus: 1 %}{% for crumb in crumbs limit: crumb_limit %}{{ crumb | append: '/' | replace:'without-plugin/','without-plugins/' }}{% endfor %}">
                    {{ crumb | replace:'-',' ' | remove:'.html' | capitalize }}</a>
                    </li>
                {% endif %}
                {% endfor %}
                 
                </ul>
            </div>
            <div class="mb-4 md:mb-0 w-full mx-auto relative">
                <div class="px-4 lg:px-0">
                    <h2 class="text-4xl font-semibold text-base-content leading-tight">
                        {{ page.title }}
                    </h2>
                    {% if page.preview %}
                    <a target="_blank" href="{{ page.preview }}" class="py-2 text-green-700 capitalize inline-flex items-center justify-center mb-2">
                        Preview
                    </a>
                    {% if page.preview %}
                    /
                    {% endif %}
                    {% endif %}
                   

                    {% if page.status %}
                    <a class="py-2 text-red-700 capitalize inline-flex items-center justify-center mb-2">
                        {{ page.status }}
                    </a>
                    {% endif %}
                </div>
                <!-- <div class="px-4 lg:px-0">
                    <h2 class="text-4xl font-semibold text-gray-800 leading-tight">
                        {{ page.title }}
                    </h2>
                    {% for cate in page.categories %}
                    <a href="#" class="py-2 text-green-700 capitalize inline-flex items-center justify-center mb-2">
                        {{cate}}
                    </a>
                    {% endfor %}
                </div> -->
            </div>

            {% if page.cover %}
            <img src="/assets/{{ page.imagefolder }}/{{ page.cover }}" class="w-full object-center object-cover lg:rounded mb-4 min-h-80" />
            {% endif %}

            <div class="flex flex-col lg:flex-row lg:space-x-12">

                <div class="px-4 lg:px-0 mt-6 text-base-content text-lg leading-relaxed w-full lg:w-3/4">


                    <div>
                        {{ content }}
                    </div>

                    {% if page.images %}
                    <h3 class="mt-4 mb-2">Screenshot: </h3>
                    <div class="w-full p-4 space-x-4 carousel carousel-center bg-neutral rounded">
                        {% for image in page.images %}
                            <div class="carousel-item cursor-pointer">
                        <a target="_blank" href="/assets/{{ page.imagefolder }}/{{ image.name }}">
                                <img src="/assets/{{ page.imagefolder }}/{{ image.name }}" class="object-cover object-top 
                                {% if page.icon != 'app' %}
                                w-56 h-32
                                {% else %}
                                h-56
                                {% endif %}
                                 rounded">
                        </a> 
                            </div>
                       

                        {% endfor %}
                    </div>
                    {% endif %}


                    {% if page.videos %}
                    <h3 class="mt-4 mb-2">Video: </h3>
                    <div class="w-full p-4 space-x-4 carousel carousel-center bg-neutral rounded">
                        {% for video in page.videos %}
                        <div class="carousel-item cursor-pointer">
                            <div class="relative w-full transition-shadow duration-300 hover:shadow-xl">
                            <img src="/assets/{{ page.imagefolder }}/{{ video.name }}" class="object-cover w-56 h-32 rounded">
                            <a href="/" aria-label="Play Video" class="absolute inset-0 flex items-center justify-center w-full h-full transition-colors duration-300 bg-gray-900 bg-opacity-50 group hover:bg-opacity-25">
                                <div class="flex items-center justify-center w-16 h-16 transition duration-300 transform bg-gray-100 rounded-full shadow-2xl group-hover:scale-110">
                                  <svg class="w-10 text-gray-900" fill="currentColor" viewBox="0 0 24 24">
                                    <path
                                      d="M16.53,11.152l-8-5C8.221,5.958,7.833,5.949,7.515,6.125C7.197,6.302,7,6.636,7,7v10 c0,0.364,0.197,0.698,0.515,0.875C7.667,17.958,7.833,18,8,18c0.184,0,0.368-0.051,0.53-0.152l8-5C16.822,12.665,17,12.345,17,12 S16.822,11.335,16.53,11.152z"
                                    ></path>
                                  </svg>
                                </div>
                              </a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}


                </div>


                <div class="w-full lg:w-1/4 m-auto mt-6 max-w-screen-sm">

                    <div
                        class="grid flex-grow gap-3 p-6 md:card md:shadow-lg bg-base-200 md:rounded w-full rounded-tl-none">
                        <div class="flex items-center space-x-2">
                            <div class="dropdown">
                                <div tabindex="0">
                                    <div class="avatar">
                                        <div
                                            class="w-16 h-16 p-px rounded-full bg-opacity-10 ring ring-primary ring-offset-blue-700 ring-offset-1">
                                            <img src="/assets/images/IMG_5790.PNG" alt="Avatar Tailwind CSS Component"
                                                class="mask mask-hexagon"></div>
                                    </div>
                                </div>
                                <div tabindex="0" class="py-2 dropdown-content">
                                    <div
                                        class="shadow-xl w-72 card compact bg-neutral-focus text-neutral-content rounded-box">
                                        <div class="card-body">
                                            <h2 class="font-extrabold capitalize card-title">avatar component</h2>
                                            <p class="text-sm text-neutral-content text-opacity-80">Use avatar component
                                                with any size</p>
                                            <div class="flex justify-end mt-4"><a href="/components/avatar"
                                                    class="btn btn-primary btn-sm xl:btn-md">
                                                    See component
                                                </a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="text-lg font-extrabold">{{ page.position }}</div>
                                <div class="text-sm text-base-content text-opacity-60">
                                    {{ page.date | date: "%-d %B %Y" }}
                                    <svg class="w-3 h-3 inline-flex"  viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="48" height="48" fill="white" fill-opacity="0.01"/><path d="M24 44C35.0457 44 44 35.0457 44 24C44 12.9543 35.0457 4 24 4C12.9543 4 4 12.9543 4 24C4 35.0457 12.9543 44 24 44Z" fill="none" stroke="#333" stroke-width="4" stroke-linejoin="round"/><path d="M24.0083 12L24.0071 24.0088L32.4865 32.4882" stroke="#333" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/></svg>
                                </div>
                                <!-- <div class="badge badge-accent badge-xs badge-outline">Last Update</div> -->
                            </div>
                        </div>
                        <div class="m-0 divider text-base-content text-opacity-40">Technical Skills</div>
                        {% if page.tools %}
                        <div class="text-lg font-extrabold">Tools</div>
                        <div class="">
                            {% for tool in page.tools %}
                            <div class="badge badge-info mb-2 inline-flex">
                                {{ tool.name }}
                            </div>
                            {% endfor %}
                        </div>
                        {% endif %}
                        {% if page.languages %}
                        <div class="text-lg font-extrabold">Languages</div>
                        <div class="">
                            {% for language in page.languages %}
                            <div class="badge badge-info mb-2 inline-flex">
                                {{ language.name }}
                            </div>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>




                </div>

            </div>
            </section>
        </main>

    </div>

    <footer class="pt-8 lg:pt-20">
        {% include footer.html %}
    </footer>

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NZ2MTG5"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

</body>

</html>